body,html {
    width:100%;
    height:100%;
    font-family:"Microsoft YaHei";
    overflow: hidden;
}
* {
    margin:0;
    padding:0;
}
input {
    border:none;
    outline:none;
}
.clear:after {
    content:"";
    display: block;
    clear: both;
}
.hide {
    display: none!important;
}
.icon {
    display:none;
}
.music {
    position:fixed;
    top:10%;
    right:10px;
    z-index:10;
}
.music img {
    width:32px;
    height:32px;
    opacity: .8;
    animation: myfirst 3s linear infinite;
    -moz-animation: myfirst 3s linear infinite;	/* Firefox */
    -webkit-animation: myfirst 3s linear infinite;	/* Safari 和 Chrome */
    -o-animation: myfirst 3s linear infinite;	/* Opera */
}
@keyframes myfirst
{
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

@-moz-keyframes myfirst /* Firefox */
{
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

@-o-keyframes myfirst /* Opera */
{
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

/*第一个页面*/
#zero {
    width:100%;
    height:100%;
    background: url("img/background1.png") no-repeat;
    background-size: 100% 100%;
    position:relative;
}
.logo {
    position:absolute;
    z-index:5;
    height:18px;
    margin-left:7%;
    margin-top:3px;
}
#zero header {
    width:100%;
    height: 9%;
    text-align: center;
    position:relative;
    /*top:20px;*/
}

#zero .lamb {
    height:100%;
    position:absolute;
    top:0;
    z-index:2;
}
#zero .left {
    left:0;
}
#zero .right {
    right:0;
}
#zero .title {
    width:100%;
    position:absolute;
    z-index:1;
    margin-top:1.5%;
}
#zero .title img {
    width: 100%;
    position:absolute;
    left:0;
}
#zero .title p {
    position:relative;
    z-index:3;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    color:#fff47e;
    letter-spacing: 2px;
    margin-top:3%;
}
#zero .title div {
    position:relative;
    z-index:3;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    color:#fff47e;
    letter-spacing: 2px;
    margin-top:3%;
}
#zero .img {
    width:100%;
    height:51%;
    margin-top:11.8%;
    background:url("img/couplet.png") no-repeat center top;
    background-size: 96% 88%;
    text-align: center;
    position:relative;
}
#zero .img img{
    width:65%;
    height:90%;
}
#zero .couplet {
    /*width:90%;*/
    /*left:5%;*/
    /*height:59%;*/
    /*top:17%;*/
    /*position:absolute;*/
    /*z-index:0;*/
}
#zero .couplet p {
    width:7%;
    height:100%;
    top:17%;
    position:absolute;
    font-weight: bold;
    font-size: 26px;
    color:#4f271a;
    word-break:break-all;
    text-align: center;
    line-height:1.2em;
}
#zero .couplet p.left {
    left:5.4%;
}
#zero .couplet p.right {
    right:5.4%;
}
#zero .year {
     width:96%;
     height:10%;
     margin:0 auto;
     position:relative;
     text-align: center;
 }
#zero .yearPanit {
    margin-top:-7%;
}
#zero .year .yearBox {
    width: 100%;
    height:100%;
}
#zero .year .yearY {
    position:absolute;
    z-index:1;
    color:#ea993a;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 2px;
    width: 100%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    top:50%;
}
#zero .address {
    width:100%;
    height:30%;
    text-align: center;
    position:absolute;
    z-index:0;
    transform: translateX(-50%);
    background-color: #e4c9a4;
    left:50%;
    top:30%;
}
#zero .addressPanit {
    top:15%;
}
#zero .address div {
    width:63%;
    height:100%;
    margin:7px auto;
    position:relative;
}
#zero .address p {
    width:80%;
    transform: translate(-50%,-50%);
    top:28%;
    left:50%;
    position:absolute;
    font-size:14px;
    font-weight: bold;
    color:#51261f;
}
#zero .address img {
    width: 100%;
    position:absolute;
    top:0;
    left:0;
}
#zero .bottom {
    width:100%;
    position:absolute;
    bottom:0;
}
#zero .bottom1 {
    width:100%;
    float: left;
    position:relative;
    z-index: 1;
}
#zero .bottom .tiger {
    width:30%;
    position:absolute;
    bottom:0;
    z-index:2;
}
#zero .bottom .left {
    left:5%;
}
#zero .bottom .right {
    right:5%;
}
#zero .button {
    position:absolute;
    bottom:0;
    transform: translateX(-50%);
    left:50%;
    z-index:5;
    width:180px;
    padding:8px 0;
    border-radius: 180px;
    margin:10px auto;
    background-color: rgba(255,255,255,.8);
    font-size:18px;
    font-weight: bold;
    color:#51261f;
    letter-spacing: 1px;
    text-align: center;
}
#zero .code {
    position:absolute;
    bottom:0;
    width:100%;
    z-index:5;
    text-align: center;
}
#zero .code canvas {
    width:28%;
}


    /*第二个页面*/
#one {
    width:100%;
    height:100%;
    background: url("img/background0.png") no-repeat;
    background-size: 100% 100%;
    position:relative;
}
#one header {
    width:100%;
    height: 10.5%;
    text-align: center;
}
#one .lamb {
    float: left;
    height:100%;
}
#one .right {
    float: right;
}
#one .title {
    width:auto;
    height:50%;
    margin-top:4%;
}
#one .happy {
    height:5%;
    text-align: center;
}
#one .happy img {
    width:auto;
    height:40%;
    margin-top:2.5%;
}
#one .input {
    width:56%;
    height:48.5%;
    min-height:262px;
    overflow-y:scroll ;
    margin:11% auto;
    padding:10px 0 20px 0;
    box-sizing: border-box;
}
#one .input input {
    width:100%;
    height:30px;
    border:1px solid #d6d6d6;
    box-sizing: border-box;
    margin-bottom:5%;
    text-indent: 5px;
}
#one .input h4 {
    color:#333;
    margin-top:10px;
}
#one .type {
    display: flex;
    justify-content:space-between;
    margin-top:15px;
}
#one .typeImg {
    width:20%;
    padding-bottom:20%;
    position:relative;
    border-radius:100%;
}
#one .typeImg img {
    width:100%;
    height:100%;
    border-radius: 100%;
    position:absolute;
    top:0;
    left:0;
}
#one .typeActive {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius: 100%;
    background-color: rgba(215,77,63,.6);
    color:rgba(255,255,255,.9);
    text-align: center;
    font-size: 13px;
}
#one .typeActive span {
    transform: translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
}
#one .year {
    width:75%;
    margin:-3% auto;
    position:relative;
    text-align: center;
}
#one .year .yearBox {
    width: 100%;
    position:absolute;
    z-index:0;
    left:0;
    top:0;
}
#one .year .yearY {
    position:relative;
    z-index:1;
    width:40%;
    margin-top:8%;
}
#one .bottom {
    width:100%;
    position:absolute;
    bottom:0;
}
#one .bottom1 {
    width:100%;
    position:absolute;
    bottom:0;
}
#one .bottom .tiger {
    width:30%;
    position:absolute;
    bottom:0;
}
#one .bottom .left {
    left:5%;
}
#one .bottom .right {
    right:5%;
}
#one .button {
    position:absolute;
    bottom:0;
    transform: translateX(-50%);
    left:50%;
    z-index:5;
    width:180px;
    padding:8px 0;
    border-radius: 180px;
    margin:10px auto;
    background-color: rgba(255,255,255,.8);
    font-size:18px;
    font-weight: bold;
    color:#51261f;
    letter-spacing: 1px;
    text-align: center;
}

/*生成图片*/
#three {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.7);
    z-index:10;
}
#three .canvas {
    padding:20px;
    width:100%;
    height:88%;
    box-sizing: border-box;
    position:relative;
    z-index:20;
}
#three .canvas img{
    width:100%;
    height:100%;
    position:relative;
    z-index:20;
}
#three .canvas .loading {
    position:absolute;
    width:50px;
    height:50px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#three .button {
    position:absolute;
    bottom:10px;
    width:100%;
    letter-spacing: 1px;
    text-align: center;
    font-size:14px;
    color:white;
}
#three .button div {
    position:relative;
    width:120px;
    padding:8px 0;
    border-radius: 120px;
    margin:0 auto 10px;
    background-color: #b95931;
    z-index:4;
}